<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Implementer List</title>
</head>
<body class="d-flex flex-column h-100">
<main layout:fragment="body" class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Implementers</h1>
                <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
            </div>
            <div class="row gx-5">
                <div th:each="implementer :${implementers}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                        <a th:text="|${implementer.lastName} ${implementer.firstName} ${implementer.patronymic}|" class="h3 fw-bolder text-decoration-none link-dark stretched-link" th:href="@{/implementer/{implementerId}(implementerId = ${implementer.id})}">Project name</a>
                        <p th:text="${implementer.grade}" class="text-black-50"></p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/implementer/{implementerId}/edit(implementerId = ${implementer.id})}">Edit</a>
                    <form role="form"
                          method="post"
                          th:action="@{/implementer/{implementerId}/delete(implementerId = ${implementer.id})}"
                    >
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
