<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Task Create</title>
</head>
<body class="d-flex flex-column h-100">
<main layout:fragment="body" class="flex-shrink-0">
  <!-- Page Content-->
  <section class="py-5">
    <div class="container">
      <form role="form" method="post" th:action="@{/task/{taskId}/edit(taskId = ${task.id})}" th:object="${task}">
        <div class="form-row">
          <input type="hidden" th:field="*{id}">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Title" th:field="*{name}" name="name">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="form-group col-md-6">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description" th:field="*{description}" name="description">
            <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="deadline">Deadline</label>
          <input type="datetime-local" class="form-control" id="deadline" th:field="*{deadline}" name="deadline">
          <p th:if="${#fields.hasErrors('deadline')}" class="text-danger" th:errors="*{deadline}"></p>
        </div>
        <div class="form-group mb-3">
          <label for="complexity">Complexity</label>
          <input type="number" class="form-control" id="complexity" placeholder="25" th:field="*{complexity}" name="complexity">
          <p th:if="${#fields.hasErrors('complexity')}" class="text-danger" th:errors="*{complexity}"></p>
        </div>
        <div class="form-group mb-3">
          <label for="type">Type</label>
          <select class="form-control" id="type" th:field="*{type}" name="type">
            <option value="DesignAndAnalyse">DesignAndAnalyse</option>
            <option value="HardwareSetup">HardwareSetup</option>
            <option value="Support">Support</option>
          </select>
          <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Edit Implementer</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>
